.button {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: $color-keyboard-button;
  border-radius: 4px;
  text-align: center;
  box-shadow: -2px -2px 4px 0 $color-keyboard-button;
  border: 2px solid $color-dark;
  cursor: pointer;

  &:hover {
    background-color: tomato;
  }

  &:active {
    box-shadow: none;
    box-shadow: inset 3px 3px 5px 0 $color-keyboard-button;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 1.4rem;
  }
}

.big {
  grid-column: span 2;
  overflow-wrap: anywhere;
}

.super-big {
  grid-column: span 7;
}

.button-first {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
}

.button-second {
  padding-top: 1px;
  padding-left: 5px;
  font-size: 0.8rem;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
}
