.screen {
  position: relative;
  margin: 0 auto 60px;
  padding: 20px;
  display: flex;
  gap: 2%;
  overflow: auto;
  word-wrap: break-word;
  min-width: 300px;
  max-width: 80%;
  min-height: 251px;
  border: 2px solid $color-dark;
  border-radius: 10px;
  position: relative;
  background-color: $color-text;
  box-shadow: -7px -7px 17px -6px $color-screen--shadow,
    inset -5px -7px 20px -7px $color-screen--shadow-inset;
  color: $color-light;

  &__add-led {
    display: grid;
  }
}

.add-led {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: $color-screen;
  border: 2px solid $color-dark;
  text-align: center;
  cursor: pointer;
  color: $color-light;
  &:hover {
    background-color: tomato;
  }
}

.screen__cursor {
  padding: 10px;
  width: 90%;
  color: $color-light;
  min-height: 170px;
  resize: none;
  border-radius: 10px;
  background-color: $color-screen;
  outline: none;
}

.screen__lang-led {
  padding: 15px;
  min-width: 55px;
  max-height: 55px;
  width: max-content;
  background-color: $color-back;
  text-align: left;
  font-weight: 600;
}

.clean {
  padding: 10px;
  grid-template-rows: 1fr;
  background-color: $color-keyboard-button;
}

.off {
  color: grey;
}

.active {
  background-color: rgb(212, 97, 76);
  color: white;
}

.voice,
.sound {
  cursor: not-allowed;
}
