$color-back: #689b34;
$color-light: #d6d6d6;
$color-text: #3a3a3a;
$color-screen: rgba(70, 70, 70, 0.5);
$color-screen--shadow: rgba(157, 157, 157, 0.8);
$color-screen--shadow-inset: rgba(157, 157, 157, 0.5);
$width-desktop: 1920px;
$width-tablet: 768px;
$width-mobile: 320px;
